.stats-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-label {
    font-weight: bold;
    font-size: larger;
    color: #d2d500;
}

.stats-values {
    display: flex;
    justify-content: space-around;
}

.stats-values > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    font-size: 30px;
}

.stats-values > button {
    width: 40px;
    color: black;
}

.active {
    background-color: rebeccapurple !important;
}

.default-stat-value {
    background-color: lightskyblue;
    font-weight: bolder;
}

.room-buttons {
    display: grid;
    grid-template-columns: auto auto;
}
.room-button {
    width: 40vw;
    margin: 5px 2vw;
}
.room-button > div {
    color: black;
    font-size: large;
}