.stats-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-label {
    font-weight: bold;
    font-size: larger;
}

.stats-values {
    display: flex;
    justify-content: space-around;
}

.stats-values > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    font-size: 30px;
}

.stats-values > button {
    width: 40px;
}

.active {
    background-color: rebeccapurple;
}

.page-content > button {
    margin: 8px 0;
    padding: 5px;
    width: 80%;
}