.stats-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
}

.stats-label {
    font-weight: bold;
    font-size: larger;
    color: #d2d500;
}

.stats-values {
    display: flex;
    justify-content: space-around;
}

.stats-values > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    font-size: 30px;
}

.stats-values > button {
    width: 40px;
    color: black;
}

.active {
    background: rgb(13, 121, 93);
    border-radius: 5px;
}

.default-stat-value {
    font-weight: bolder;
    color: #d2d700;
}

.room-buttons {
    display: grid;
    grid-template-columns: auto auto;
}

.room-button {
    width: 38vw;
    margin: 5px 2vw;
    min-height: 45px;
}

.room-button > div {
    color: black;
    font-size: large;
}

.item-buttons {
    display: grid;
    grid-template-columns: auto auto;
    width: 85%;
    font-size: 16px;
}

.character-buttons {
    color: black;
    margin: 0 6px 12px 6px;
    padding: 4px;
}
.character-buttons > a {
    color: black;
    text-decoration: none;
}

.item-checkbox-wrapper {
    display: flex;
    align-items: center;
}
.item-checkbox-wrapper > input {
    height: 30px;
    width: 30px;
}